PORT=5000

MONGO_URI=mongodb+srv://SevaRoute:SevaRoutePSWB02@sevaroute.8cjiwqe.mongodb.net/PSWB02?appName=SevaRoute

CLIENT_URL=http://localhost:5173

AIML_URL=http://localhost:8000

AIML_ANALYZE_ENDPOINT=/analyze

AIML_TIMEOUT=15000